# Spark DataFrame Basics

## Part 1

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/10/31 13:53:35 WARN Utils: Your hostname, Diego-desktop resolves to a loopback address: 127.0.1.1; using 172.27.76.109 instead (on interface eth0)
23/10/31 13:53:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/31 13:53:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
import json
data = [
    {'age':None,'name':'Michael'},
    {'age':30,'name':'Andy'},
    {'age':19,'name':'Justin'}
]
 
with open('../data/people.json', 'w', encoding='utf-8') as file:
    json.dump(data, file)

In [4]:
df = spark.read.json('../data/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import (StructField,
                               StringType,
                               IntegerType,
                               StructType)

In [12]:
data_schema = [
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
]

In [15]:
final_struct = StructType(fields=data_schema)

In [16]:
df = spark.read.json('../data/people.json', schema=final_struct)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## Part 2

In [23]:
df['age']

Column<'age'>

In [24]:
type(df['age'])

pyspark.sql.column.Column

In [21]:
df.select('age')

DataFrame[age: int]

In [25]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [20]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
type(df.head(2))

list

In [28]:
df.head(2)[0]

Row(age=None, name='Michael')

In [29]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [30]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [31]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [36]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [37]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
df.createOrReplaceTempView('people')

In [40]:
results = spark.sql('SELECT * FROM people')
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
new_results = spark.sql('SELECT * FROM people WHERE age=30 ')
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+